{
  "extends": [
    // Enable some pre-defined linting rules
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/strict",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",

    // Enable "recommended" configuration from eslint-plugin-prettier. Does three things:
    // - Enables eslint-plugin-prettier
    // - Sets the "prettier/prettier" rule to "error"
    //     - This ensures deviations from the Prettier style are reported as errors
    // - Extends the eslint-config-prettier configuration
    //     - This turns off all rules that conflict with Prettier
    "plugin:prettier/recommended",

    // Also turn off style-related rules from some eslint-plugins
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    },
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    }
  ]
}
