.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.demo {
  margin: 32px 0 0;
}

.carousel {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 50vh;
  max-height: 500px;
}
