.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.demo {
  margin: 32px 0 0;
}

.carousel {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 50vh;
  max-height: 500px;
}

.code {
  /* Prevent browsers from reducing font-size */
  /* https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966 */
  font-family: monospace, monospace;
  padding: 24px 32px;
  overflow-x: auto;
}